{% extends "base.html" %}

{% block title %}
    Accueil  -JOJ NEWS
{% endblock  %}

{% block content %}
{% for a in articles %}
<h1>{{a.categorie}}</h1>
{% comment %} <img src="{{ a.image.url }}" width="500"> {% endcomment %}
<h2>{{a.titre}}</h2>
<p>{{a.contenu | linebreaks | truncatewords:30}}</p>
<a href="{% url 'detail_article' a.id %}">Voir plus</a>
<div>
    {% for coment in commentaires %}
    <p>{{coment.message}}</p>
    <p>{{coment.username}}</p>
    {% endfor %}
</div>
<hr>
{% endfor %}
{% endblock  %}